body {
    height: 20000px;
    background-color: #eee;
    margin: 0;
}

#toTop {
    position: fixed;
    right: 20px;
    bottom: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-bottom: 60px solid #3498db;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
}

#toTop.backing {
    border-bottom: 60px solid #e74c3c;
}

.rule {
    height: 100px;
    width: 10%;
    line-height: 100px;
    text-align: center;
    color: #fff;
    background-color: #1abc9c;
}

.rule-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

